.tresc-wiadomosci {
    height: 191px;
}

button {
    background-color: transparent;
    border: 3px solid #dcdcdc;
    color: #5d5d5d;
    font-size: 18pt;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2%;
}

div.navbar-header {
    height: 96px;
}

.navbar-default {
    background-color: white;
    border: 0px;
}

.navbar-toggle {
    margin-top: 6%;
    margin-left: 6%;
    margin-right: 6%;
    border: 0px;
}

.navbar-brand > img {
    margin-top: 3%;
    margin-left: 6%;
}

.sidebar {
    position: fixed;
    right: 0px;
    width: 122px;
    height: 100%;
    text-align: center;
    background-color: white;
}

.logo > img {
    width: 81px;
    height: 172px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.glowna {
    position: static;
    padding: 0;
    background: antiquewhite url("images/canada-893534.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 7%;
}

.img1 {
    background: white url("images/img1.PNG") no-repeat center;
    height: 183px;
}

.img2 {
    background: white url("images/img2.PNG") no-repeat center;
    height: 183px;
}

.img3 {
    background: white url("images/img3.PNG") no-repeat center;
    height: 183px;
}

.img4 {
    background: white url("images/img4.PNG") no-repeat center;
    height: 183px;
}

.calltoaction {
    border: 3px solid white;
    text-align: center;
    font-size: 24pt;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 30%;
    background-color: rgba(0, 176, 218, 0.5);
}

.navbar-nav {
    text-align: center;
}

.nav a {
    font-size: 12pt;
    text-transform: uppercase;
    color: #5d5d5d;
}

.ma-efekt {
    transition: all 500ms ease;
    background: green;
    height: 20px;
    width: 45px;
}

.ma-efekt.powieksz {
    width: 200px;
    height: 300px;
}

.loga {
    text-align: center;
    padding-top: 2%;
}

.person {
    background: transparent url("images/person.png") no-repeat left center;
    height: 314px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.person p {
    padding-left: 2%;
    padding-right: 26%;
    padding-top: 5%;
    color: white;
}

li {
    padding: 0;
    font-size: 14pt;
    line-height: 18pt;
}

.oklastrze li {
    background: url("images/strzalka_mala.png") no-repeat left center;
    list-style: none;
    padding: 20px;
    font-size: 18pt;
    font-weight: 700;
}
/*to jest przykłąd, ale nie używajcie hover ;)
.ma-efekt:hover {
    height: 200px;
}


@media (orientation: landscape) {
    
}

@media (max-width: 800px) {
    .ukryte-ponizej-800 {
        display: none;
    }
}

@media (orientation: landscape) and (min-width: 800px) {
    
}
*/

.strzalka {
    background: url("images/img_08.png") no-repeat left center;
    height: 183px;
}

.submenu {
    display: none;
}

li:hover>.submenu {
    display: block;
   
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #5d5d5d;
}

p {
    font-size: 14pt;
    line-height: 18pt;
}

h4 {
    font-size: 18pt;
    font-weight: 700;
    color: #5d5d5d;
    line-height: 20px;
   margin-top: 0;
}

header {
    font-size: 64pt;
    color: white;
    font-weight: 700;
    line-height: 62pt;
    padding-top: 10%;
}

h1 {
    font-size: 36pt;
    color: #00afda;
    font-weight: 700;
    padding-bottom: 4%;
    padding-top: 10%;
}

button a {
    color: #5d5d5d;
}

.calltoaction p {
    font-size: 24pt;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
    font-size: 48pt;
    color: #00afda;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0;
}

.wyroznienie {
    font-size: 48pt;
    color: #00afda;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.form-control {
    border: 3px solid #dcdcdc;
    padding: 5%;
    padding-left: 3%;
}

footer {
    font-size: 12pt;
    margin-top: 10%;
    line-height: 18pt;
}

footer a {
    color: #5d5d5d;
}

.oklastrze {
    padding-left: 0px;
}

.cta-tlo {
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 29%;
    height: 45px;
    width: 72px;
}

.cta-tlo p {
    font-size: 24pt;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cta-tlo {}

ul {
    padding-top: 10%;
}

form {
    padding-top: 5%;
}

li:hover>.submenu a {
    text-align: center;
    font-size: 12pt;
    line-height: 18pt;
    text-transform: lowercase;
}
.navbar-brand {
   
}

.sidebar img {
    
}

.sidebar img {
     
}

.logo {
    margin-top: 20%;
    margin-bottom: 20%;
}

.event {
    padding-bottom: 4%;
}

.navbar-nav img {
    padding-top: 3%;
    padding-bottom: 1%;
}
