.tresc-wiadomosci {
    height: 191px;
}

button {
    background-color: transparent;
    border: 3px solid gray;
}

div.navbar-header {
    height: 96px;
}

.navbar-default {
    background-color: white;
    border: 0px;
}

.navbar-toggle {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 52px;
    border: 0px;
}

.navbar-brand > img {
    margin-top: -5px;
}

.sidebar {
    position: fixed;
    right: 0px;
    width: 122px;
    height: 100%;
    text-align: center;
    background-color: white;
}

.sidebar > img {
    width: 81px;
    height: 172px;
}

.glowna {
    position: static;
    padding: 0;
    background: antiquewhite url("images/canada-893534.jpg") no-repeat center;
    background-size: cover;
}

.img1 {
    background: white url("images/img1.PNG") no-repeat center;
    height: 183px;
}

.img2 {
    background: white url("images/img2.PNG") no-repeat center;
    height: 183px;
}

.img3 {
    background: white url("images/img3.PNG") no-repeat center;
    height: 183px;
}

.img4 {
    background: white url("images/img4.PNG") no-repeat center;
    height: 183px;
}

.calltoaction {
    border: 3px solid white;
    text-align: center;
}

.navbar-nav {
    text-align: center;
}

.ma-efekt {
    transition: all 500ms ease;
    background: green;
    height: 20px;
    width: 45px;
}

.ma-efekt.powieksz {
    width: 200px;
    height: 300px;
}

.loga {
    text-align: center;
}

.person {
    background: white url("images/person.png") no-repeat left center;
    height: 314px;
}

.person p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.oklastrze {
    list-style-image: url("images/strzalka_mala.png");
}
/*to jest przykłąd, ale nie używajcie hover ;)
.ma-efekt:hover {
    height: 200px;
}
*/

@media (orientation: landscape) {
    /*poziomo trzymane urządzenie*/
}

@media (max-width: 800px) {
    .ukryte-ponizej-800 {
        display: none;
    }
}

@media (orientation: landscape) and (min-width: 800px) {
    /*poziome i szersze niż 800*/
}

.strzalka {
    background: url(images/img_08.png) no-repeat left center;
}